#wrapper{
        background-color: rgb(238,238,238);
        width: 970px;
        padding-left: 10px;
        padding-right: 30px;
}
#header{
        background-color: rgb(221,221,221);
        width: 900px;
        height: 75px;
        border-radius: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
}
#naviation,#content{
        display: inline-block;
        vertical-align: top;
}
#navigation{
        background-color: rgb(221,221,221);
        border-radius: 30px;
        padding: 15px;
        width: 150px;
}
#content{
        background-color: rgb(170,170,170);
        border-radius: 30px;
        padding: 30px;
        width: 100px;

}
#contact{
        background-color: rgb(221,221,221);    
        border-radius: 30px;
        padding-left: 15px;
        width: 900px;
}